spring:
  application:
    name: project-alpha
  datasource:
    url: jdbc:mysql://localhost:3306/project_alpha?useSSL=false&serverTimezone=UTC
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true